<link rel="import" href="./components/polymer/polymer.html">

<polymer-element name="cal-table" noscript>
  <template>
    <table>
      <caption>Calendar Table</caption>
      <thead>
        <tr>
          <th>Begins</th>
          <th>Ends</th>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <content></content>
      </tbody>
    </table>
  </template>
</polymer-element>

<polymer-element name="cal-row" attributes="begin end eventtitle" noscript>
  <template>
    <tr>
      <td>{{begin}}</td>
      <td>{{end}}</td>
      <td>{{eventtitle}}</td>
      <td><content></content></td>
    </tr>
  </template>
</polymer-element>
