<head>

  <meta charset="utf-8">
  <title>CalTable</title>

  <meta name="viewport" 
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="./components/webcomponentsjs/webcomponents.js"></script>

  <link rel="import" href="./cal-table.html">

  <style>
  </style>

</head>

<body unresolved>

<cal-table>
  <cal-row begin="1pm" end="6pm" eventtitle="blahblah">This happens.</cal-row>
  <cal-row begin="8pm" end="9am" eventtitle="Fuck this">That happens.</cal-row>
</cal-table>

<script>
</script>

</body>

</html>
